
@{
    ViewData["Title"] = "Paid";
}

<h1 class="text-center">You have already paid for this order!</h1>
<div class="row justify-content-center">
    <div class="col-4 justify-content-center">
        <img width="350" height="350" class="img-fluid img-responsive" src="~/img/Paid.png" alt="paid" />
    </div>
</div>
<p class="text-center"><a asp-action="Index" asp-controller="Game" class="btn-success">Back to Main Page</a></p>

